body {
    background-color: whitesmoke;
}

.cabecera {
    background-color: rgb(0, 255, 149);
    width: 100%;
    margin-bottom: 5%;
}

.cabecera h1 {
    text-align: center;
}

.cabecera button {
    border: none;
    background-color: transparent;
}

.listado-personajes {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 5%;
    row-gap: 2%;
    margin: 0 10%;
}

.personaje-contenedor {
    background-color: rgb(0, 255, 149);
    border-radius: 5px;
    display: flex;
    width: 95%;
    flex-direction: column;
}

.personaje-contenedor img {
    height: 90%;
    width: 100%;
    justify-self: center;
}

.campo-personaje {
    height: 10%;
    font-weight: bolder;
}